/************
USEFUL CLASSES
************/

/************
COLORS
************/

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$pink: rgba(207, 52, 118, 1);

/*White background*/
$gray-accesibility: rgb(89, 89, 89);

/************
Z-INDEX
************/
$z-index0: 0;
$z-index1: 1;
$z-index2: 5;
$z-index3: 10;
$z-index4: 15;
$z-index5: 20;
